@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* html {
  font-family: "San Francisco";
  font-weight: 700;
} */

.Polaris-Badge--statusSuccess {
  background-color: #8be1af;
}
